body{
text-align: center;    
}
#Home{    
}
p{
color: aqua;
font-size: 25px;    
}
.Home img{
padding: 20px;
}
#margueestyle{
color: aqua;
font-size: 25px;     
}   
#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;